body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: ;
    color: #333333;
    text-transform: uppercase;
    background-image: url("img/background-photo.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }
  a {
    text-decoration: none;
  }
  .inner-page {
    color:;
    background-image: url("img/filter-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }
  .main-header-logo {
    position: absolute;

  }

.main-navigation,
.site-navigation {
    font-weight: bold;
    list-style: none;
    color: black;
}
.site-navigation a:hover,
.site-navigation a:focus,
.main-navigation a:hover,
.main-navigation a:focus { 
}
  .welcome {
    background-image: url("img/background-photo.jpg");
    background-position: 40px 0;
    background-repeat: no-repeat;
    width: 1200 px;
    height: 773px;

  }


  .intro {
    text-align: center;
  }
  
  .page-title h1 {
    font-size: 21px;
    line-height: 26px;
    color: black;
    text-align: center;
    width: 440px;
    height: 48px;
    word-wrap: normal;
  }
  .features-list {
    background-color: #81b3d2; 
    color: white;
    
    text-align: center;
    line-height: 21px;
    list-style: none;
}

.features-item {
  width: 1280px;
  height: 2762px;
  background-color: #eeeeee;
}
.features-title h2{
  font-size: 21px;
  font-weight: bold;
 }
 .features-title-food h2{
  color: #000000;
  
 }
 .features-title-hotels {
  
 }

 .features-title-food {
  width: 1200px;
  height: 2762px;
background-image: url("img/icon-3.svg")
 }
 .features-title-souvenires {
  background-image: url("img/icon-2.svg")
  background-position: center top;
 }

 .features-title-food {
  width: 1200px;
  height: 2762px;
background-image: url("img/icon-3.svg")
 }

}
 .interested-button button {
  font: inherit;
  text-align: center;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
  border: none;
}
.booking-button button {
  font: inherit;
  text-align: center;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  border: none;
}
.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}
input {
  font: inherit;
  background-color: transparent;
  text-align: left;
  }
 input:focus {
    border-color: #663d15;
  }
.booking form {
  background-image: url("img/map.jpg")
  background-size: 1200px 593px;
  background-position: center bottom;
}
.hashtag {
  font-size: 21px;
  line-height: 26px;
}
.footer-social {
  text-align: center;
}

.social-list ul {
  list-style: none;
}

.social-button {
  background-color: #81b3d2;
  background-size: 46px 48px;
}
.social-button-twitter {
  background-image: url("img/twitter.svg")
  background-position: absolute;

}
.social-button-facebook {
  background-image: url("img/fb-icon.svg")
  background-position: absolute;

}

.social-button-youtube{
  background-image: url("img/youtube.svg")
  background-position: absolute;

}
.footer-copyright {
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;
}
.inner-page {
  background-image: url("img/filter-background.jpg")
  background-position: center top;
  background-size: 1200px 562px;
}
.booking-form {
  color: #ffffff;
}
.booking-form-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-align: left;
}
.button.button-dark {
  background-color: #766357;
}
.button {
  background-color: #81b3d2;
  text-align: center;
}
.hotels-image {
  width: 135px;
  height: 90px;
}
.hotels-item-info h3{
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
}