body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}
a {
    text-decoration: none;
    color: #000000;
}
.container {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
} 
.main-header {
  position: relative;
 
}
.main-header-logo {
    position: absolute;
    width: 240px;
}
.site-navigation {
    font-weight: bold;
    list-style: none;
    color: #000000;
    min-height: 56px;
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
  
}
.site-navigation a {
    width: 240px;
}
.site-navigation a:nth-of-type(2n) {
  margin-right: 240px
}
.site-navigation a:nth-of-type(1), .site-navigation a:nth-of-type(2) {
  text-align: left;
} 
.site-navigation a:nth-of-type(3), .site-navigation a:nth-of-type(4) {
  text-align: right;
}
.site-navigation a:hover,
.site-navigation a:focus {
}
.welcome {
    background-image: url("../img/background-photo.jpg");
    background-position: 40px 0;
    height: 508px;
    background-size: cover;
    background-color: #f2f2f2;
    padding-top: 132px;
}
.intro {
  padding: 61px 380px;
  }
.intro h1 {
  font-weight: 700;
}
.page-title {
    font-size: 21px;
    color: #000000;
    word-wrap: break-word;
}
.features-list {
  color: white;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.features-item {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 400px;
  background-repeat: no-repeat;
}
.features-item-gray {
  background-color: #eeeeee;
}
.features-item-wide {
  width: 100%;
}
.features-item-text {
  color: #ffffff;
  background-color: #81b3d2;
  width: 400px;
}
.features-item h2 {
  font-weight: 700;
}
.features-image {
  width: 800px;
  height: 256px;
}
.features-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
  }
p {
  line-height: 21px;
}

.features-sublist {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.features-title-food {
  background-image: url("../img/icon-3.svg");
  background-position: center top;
  background-size: 74px 70px;
  padding-top: 29px;
}
.features-title-souvenires {
  background-image: url("../img/icon-2.svg");
  background-position: center top;
  background-size: 64px 76px;
  padding-top: 29px;
}
.features-title-hotels {
  background-image: url("../img/icon-1.svg");
  background-position: center top;
  background-size: 75px 72px;
  padding-top: 29px;
}
.interested h2 {
  font-weight: 700;
}
.interested-button {
  font: inherit;
  color: #cccccc;
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
  border: none;
  font-weight: 700;
}
.booking-button {
  font: inherit;
  color: white;
  font-size: 21px;
  line-height: 26px;
  background-color: #5e9ec5;
  border: none;
  font-weight: 700;
}
.interested-button:hover,
.interested-button:focus {
  background-color: #663d15;
}
.interested-button:active {
  background-color: #4e2e0e;
}
.booking input {
  font: inherit;
  text-align: left;
  border: none;
}
input:focus {
    border-color: #663d15;
}
.booking-button:hover,
.booking-button:focus {
  background-color: #5e9ec5;
}
.booking-button:active {
  background-color: #397194 transparent;
}
.main-footer {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.hashtag {
  font-size: 21px;
  line-height: 26px;
}
.social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.social-button {
  background-color: #81b3d2;
  background-size: 46px 48px; 
  list-style: none;
  background-position: relative;
}
.social-button-twitter {
  background-image: url("../img/twitter.svg");
  background-position: center center;
}
.social-button-facebook {
  background-image: url("../img/fb-icon.svg");
  background-position: center center;
}

.social-button-youtube {
  background-image: url("../img/youtube.svg");
  background-position: center center;
}
.footer-copyright a {
  margin-left: 8px;
}
.booking-form {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  background-image: url("../img/filter-background.jpg");
  background-size: cover;
  background-color: rgba(41, 75, 75, 0.2);
  padding: 0 40px;
  }
  .booking-form-list {
  list-style: none;
  padding: 0;
  }
  .booking-form-list input{
  border: 2px solid #ffffff;
    }
.booking-form-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
}
.booking-form-group {
  width: 250px;
  border: none;
  padding: 0;
  text-align: left;
}
.booking-form-cost {
  width: 600px;
  border: none;
}
.button {
  background-color: #81b3d2;
}
.button-dark {
  background-color: #766357;
}
.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.hotels-item {
display: flex;
}
.hotels-image {
  width: 135px;
}
.hotels-item-info {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
}
.hotels-item-rating {
  margin-left: auto;
}