body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #000000;
}
.main-header: {
  position: relative;
}
.main-header-logo {
    position: absolute;
}
.site-navigation {
    font-weight: bold;
    list-style: none;
    color: black;
}
.site-navigation a:hover,
.site-navigation a:focus,
.main-navigation a:hover,
.main-navigation a:focus { 
}
.container {
  width: 1200px;
  text-align: center;
}  
.welcome {
    background-image: url("../img/background-photo.jpg");
    background-position: 40px 0;
    background-repeat: no-repeat;
    height: 773px;
    background-size: cover;
    background-position: top center;
    background-color: #f2f2f2;
}
.page-title {
    font-size: 21px;
    color: #000000;
    width: 440px;
    word-wrap: break-word;
}
.features-list {
  color: white;
  line-height: 21px;
  list-style: none;
  background-color: #81b3d2;
}
.features-item {
  width: 400px;
  background-color: #eeeeee;
}
.features-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}
p {
  line-height: 21px;
}
.features-item-text {
  color: #cccccc;
}
.features-title-food {
  background-image: url("../img/icon-3.svg");
  background-position: center top;
  background-size: 74px 70px;
}
.features-title-souvenires {
  background-image: url("../img/icon-2.svg");
  background-position: center top;
  background-size: 64px 76px;
}
.features-title-hotels {
  background-image: url("../img/icon-1.svg");
  background-position: center top;
  background-size: 75px 72px;
}
.interested-button {
  font: inherit;
  color: #cccccc;
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
  border: none;
}
.booking-button {
  font: inherit;
  color: white;
  font-size: 21px;
  line-height: 26px;
  background-color: #5e9ec5;
  border: none;
}
.interested-button:hover,
.interested-button:focus,
.interested-button:active {
  background-color: #663d15;
}
.booking input {
  font: inherit;
  text-align: left;
}
input:focus {
    border-color: #663d15;
}
.booking-button:hover,
.booking-button:focus,
.booking-button:active {
  background-color: #5e9ec5;
}
.hashtag {
  font-size: 21px;
  line-height: 26px;
}
.footer-social {
}
.social-list {
  list-style: none;
}
.social-button {
  background-color: #81b3d2;
  background-size: 46px 48px;
  list-style: none;
}
.social-button-twitter {
  background-image: url("../img/twitter.svg");
  background-position: center center;
}
.social-button-facebook {
  background-image: url("../img/fb-icon.svg");
  background-position: center center;
}

.social-button-youtube {
  background-image: url("../img/youtube.svg");
  background-position: center center;
}
.footer-copyright a {
}
.booking-form {
  color: #ffffff;
  background-image: url("../img/filter-background.jpg");
  background-position: center top;
  background-size: 1200px 562px;
  background-color: #f2f2f2;
}
.booking-form-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-align: left;
}
.button {
  background-color: #81b3d2;
}
.button-dark {
  background-color: #766357;
}
.hotels-image {
  width: 135px;
  }
.hotels-item-info {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
}